[submodule "UDK"]
	path = UDK
	url = https://github.com/tianocore/edk2
[submodule "EfiPkg"]
	path = EfiPkg
	url = https://github.com/acidanthera/EfiPkg
[submodule "MacInfoPkg"]
	path = MacInfoPkg
	url = https://github.com/acidanthera/MacInfoPkg
[submodule "OcSupportPkg"]
	path = OcSupportPkg
	url = https://github.com/acidanthera/OcSupportPkg
[submodule "OpenCorePkg"]
	path = OpenCorePkg
	url = https://github.com/acidanthera/OpenCorePkg
